<form #materialForm="ngForm" (submit)="materialInput()" novalidate>
  <div class="container well">
    <div class="form-horizontal">
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <h2>(purchases) Material Form</h2>
        </div>
      </div>
      <br>
      <div class="form-group">

        <label class="col-sm-2 control-label" for="formGroup"> Name* :</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="matName"
          placeholder="Product name" #matName = "ngModel"
          [(ngModel)]="material.name"
          (keyup.enter)="addMaterial(matName.value)"
          (blur)="addMaterial(matName.value); matName.value=''"
          appInputMinLength required />
        </div>

        <!-- Validation div, only displayed if the ngIf condition is invalid -->
        <div class="has-error" *ngIf="matName.touched && matName.invalid">
          <span *ngIf="matName.errors.required">Please, name can not be empty</span>
          <span *ngIf="matName.errors.IsNotCorrect && !matName.errors.required">
            Name must have less tan 50 characters and only accepts letters
          </span>
        </div>

        <br/>

        <ul><li *ngFor="let material of materials">{{material}}</li></ul>

        <br/>

        <label class="col-sm-2 control-label" for="formGroup">Brand: </label>
        <div class="col-sm-2">

          <span *ngFor="let brand of brands; let i = index">
            <input type="radio" name="brand"
            value="{{brand.getName()}}"
            [checked]="brand.getId() == material.getBrand().id"
            (click)="material.setBrand(brand)">
            {{brand.getName()}} <br/>
          </span>
        </div>

        <br/>

        <label class="col-sm-2 control-label" for="formGroup"> Price range* :</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="matPriceMin"
            #matPriceMin = "ngModel" [(ngModel)]="material.priceMin"
            placeholder="Min" maxlength="4" appPositiveNumber required />

          <!-- Validation div, only displayed if the ngIf condition is invalid -->
          <div class="has-error" *ngIf="matPriceMin.touched && matPriceMin.invalid">
            <span *ngIf="matPriceMin.errors.required">Please, price min can not be empty</span>
            <span *ngIf="matPriceMin.errors.IsBelowZero && !matPriceMin.errors.required">
              Number must be greater than zero
            </span>
          </div>

          <br/>

          <input class="form-control" type="text" name="matPriceMax"
            #matPriceMax = "ngModel" [(ngModel)]="material.priceMax"
            placeholder="Max" maxlength="4" appPositiveNumber required />

          <!-- Validation div, only displayed if the ngIf condition is invalid -->
          <div class="has-error" *ngIf="matPriceMax.touched && matPriceMax.invalid">
            <span *ngIf="matPriceMax.errors.required">Please, price max can not be empty</span>
            <span *ngIf="matPriceMax.errors.IsBelowZero && !matPriceMax.errors.required">
              Number must be greater than zero
            </span>
          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-success"
          [disabled]="materialForm.invalid"> Submit </button>
        </div>
      </div>

    </div>
  </div>
</form>
