<div [hidden]="submitted" class="container">
  <h1>Kit Form</h1>
  <h2>by Alejandro Asensio</h2>
  <form (ngSubmit)="onSubmit()" #kitForm="ngForm">

    <div class="form-group">
      <label for="usage">Usage</label>
      <select class="form-control custom-select" id="usage" 
      required 
      [(ngModel)]="model.usage" name="usage"
      #usage="ngModel">
        <option *ngFor="let usage of usages" [value]="usage">{{ usage }}</option>
      </select>
      <div [hidden]="usage.valid || usage.pristine" class="alert alert-danger">
        Usage is required
      </div>
    </div>

    <div class="form-group">
      <label for="usage">Size</label>
      <select class="form-control custom-select" id="size" 
      required 
      [(ngModel)]="model.size" name="size"
      #size="ngModel">
        <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
      </select>
      <div [hidden]="size.valid || size.pristine" class="alert alert-danger">
        Size is required
      </div>
    </div>

    <div class="form-group">
      <label for="units">Units</label>
      <input type="number" class="form-control" id="units" 
      required min="1" max="10"
      [(ngModel)]="model.units" name="units"
      #units="ngModel">
      <div *ngIf="units.invalid && (units.dirty || units.touched)" class="alert alert-danger">
        <div *ngIf="units.errors.required">
          Units is required.
        </div>
        <div *ngIf="units.errors.min">
          Units must be at least 1.
        </div>
        <div *ngIf="units.errors.max">
          Units must be 100 as maximum.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="observations">Observations</label>
      <input type="text" class="form-control" id="observations" 
      required maxlength="10"
      [(ngModel)]="model.observations" name="observations"
      #observations="ngModel">
      <div *ngIf="units.invalid && (units.dirty || units.touched)" class="alert alert-danger">
        <div *ngIf="units.errors.maxlength">
          Observations cannot be longer than 10 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="submitter">Submitter</label>
      <input type="text" class="form-control" id="submitter" 
      required appForbiddenName="marisa"
      [(ngModel)]="model.submitter" name="submitter"
      #submitter="ngModel">
      <div *ngIf="submitter.invalid && (submitter.dirty || submitter.touched)" class="alert alert-danger">
        <div *ngIf="submitter.errors.required">
          Submitter is required.
        </div>
        <div *ngIf="submitter.errors.forbiddenName">
          Submitter cannot be Marisa.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!kitForm.form.valid">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="newkit(); kitForm.reset()">Reset</button>

  </form>
</div>

<div [hidden]="!submitted">
  <h2></h2>
  <table class="table table-striped table-hover table-sm">
    <caption>You submitted the following:</caption>
    <tbody>
      <tr><th>Usage</th><td>{{ model.usage }}</td></tr>
      <tr><th>Size</th><td>{{ model.size }}</td></tr>
      <tr><th>Units</th><td>{{ model.units }}</td></tr>
      <tr><th>Observations</th><td>{{ model.observations }}</td></tr>
      <tr><th>Submitter</th><td>{{ model.submitter }}</td></tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn-warning" (click)="submitted=false">Go back</button>
</div>