<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/images/dna-logo.png" width="72" height="72" class="d-inline-block align-middle"
        alt="dna-logo">
      Animal DNA Analysis
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sequences" routerLinkActive="active">Sequences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sequences-management" routerLinkActive="active">Sequences Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/kits" routerLinkActive="active">Kits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/laboratories" routerLinkActive="active">Laboratories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/materials" routerLinkActive="active">Materials</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</header>
