<div class="container">
  <h2>Form to manage a Sequence</h2>
  <form (submit)="onSubmit()" #sequenceForm="ngForm">
    <div class="form-group">
      <div class="form-group">
        <label for="type">Type *</label>
        <select class="form-control custom-select" id="type" name="type" #type="ngModel" [(ngModel)]="sequence.type"
          required>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>
      <label for="seq">Sequence *</label>
      <input type="text" class="form-control" id="seq" name="seq" #seq="ngModel" [(ngModel)]="sequence.seq"
        appDnaValidation required>

      <!-- <div *ngIf="seq.invalid && (seq.dirty || seq.touched)" class="alert alert-danger">
        <div *ngIf="seq.errors.required">Sequence is required.</div>
        <div *ngIf="seq.errors.IsNotCorrect && !seq.errors.required">Sequence must be [ACTG] only.</div>
      </div> -->

      <div class="text-danger" *ngIf="seq.touched && seq.invalid">
        <span *ngIf="seq.errors.required">Sequence is required.</span>
        <span *ngIf="seq.errors.IsNotCorrect">Sequence must be DNA [ACGT], RNA [ACGU] or amino acid
          [ACDEFGHIKLMNPQRSTVWXY].</span>
      </div>

    </div>
    <span>* Required fields</span>
    <br><br>
    <button type="submit" class="btn btn-success" [disabled]="!sequenceForm.form.valid">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
    <button class="btn btn-info" (dblclick)="doubleClick()">Double click me! (and see console log)</button>
    <br><br>
  </form>
</div>

<div [hidden]="!submitted">
  <span class="alert alert-success">Data inserted successfully.</span>
  <table class="table table-hover">
    <caption>You submitted the following:</caption>
    <thead class="thead-dark">
      <th>Type</th>
      <th>Sequence</th>
    </thead>
    <tbody>
      <td>{{ sequence.type }}</td>
      <td>{{ sequence.seq }}</td>
    </tbody>
  </table>
  <br>
  <button class="btn btn-warning" (click)="submitted=false">Insert a new sequence</button>
</div>
