<div [hidden]="submitted" class="container">
  <h2>Form to register a new Sequence</h2>
  <form (submit)="onSubmit()" #sequenceForm="ngForm">
    <div class="form-group">
      <div class="form-group">
        <label for="type">Type *</label>
        <select class="form-control custom-select" id="type" name="type" #type="ngModel" [(ngModel)]="sequence.type"
          required>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>
      <label for="seq">Sequence *</label>
      <input type="text" class="form-control" id="seq" name="seq" #seq="ngModel" [(ngModel)]="sequence.seq"
        minlength="10" required>
      <div *ngIf="seq.invalid && (seq.dirty || seq.touched)" class="alert alert-danger">
        <div *ngIf="seq.errors.required">Sequence is required.</div>
        <div *ngIf="seq.errors.minlength">Units must be at least 10 nucleotides long.</div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!sequenceForm.form.valid">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="sequenceForm.reset()">Reset</button>
    <br>
    <span>* Required fields</span>
  </form>
</div>

<div [hidden]="!submitted">
  <h2></h2>
  <table class="table table-hover">
    <caption>You submitted the following:</caption>
    <thead class="thead-dark">
      <th>Type</th>
      <th>Sequence</th>
    </thead>
    <tbody>
      <td>{{ sequence.type }}</td>
      <td>{{ sequence.seq }}</td>
    </tbody>
  </table>
  <br>
  <button class="btn btn-warning" (click)="submitted=false">Insert a new sequence</button>
</div>
