<form #laboratoryForm="ngForm" (submit)="laboratoryInput()" novalidate>
  <div class="container well">
    <div class="form-horizontal">
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <h2>Laboratory Form</h2>
        </div>
      </div>
      <br/>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup">Name *</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="labName"
            #labName = "ngModel" [(ngModel)]="laboratory.name"
            appInputMinLength required />
        </div>

        <!-- Validation div, only displayed if the ngIf condition is invalid -->
        <div class="has-error" *ngIf="labName.touched && labName.invalid">
          <span *ngIf="labName.errors.required">Please, name can not be empty</span>
          <span *ngIf="labName.errors.IsNotCorrect && !labName.errors.required">
            Name must have less tan 50 characters and only accepts letters
          </span>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-12" align="center"><h3>Address: </h3></div>
          </div>

          <label class="col-sm-2 control-label" for="formGroup">Street *</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" name="labStreet"
            #labStreet="ngModel" [(ngModel)]="laboratory.street"
            appInputMinLength required />
          </div>

          <!-- Validation div, only displayed if the ngIf condition is invalid -->
          <div class="has-error" *ngIf="labStreet.touched && labStreet.invalid">
            <span *ngIf="labStreet.errors.required">Please, street can not be empty</span>
            <span *ngIf="labStreet.errors.IsNotCorrect && !labStreet.errors.required">
              Name must have less tan 50 characters and only accepts letters
            </span>
          </div>

          <br/>

          <label class="col-sm-2 control-label" for="formGroup">Number *</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" name="labNumber"
            #labNumber="ngModel" [(ngModel)]="laboratory.number"
            maxlength="3" appPositiveNumber required />
          </div>

          <!-- Validation div, only displayed if the ngIf condition is invalid -->
          <div class="has-error" *ngIf="labNumber.touched && labNumber.invalid">
            <span *ngIf="labNumber.errors.required">Please, number can not be empty</span>
            <span *ngIf="labNumber.errors.IsBelowZero && !labNumber.errors.required">
              Number must be greater than zero
            </span>
          </div>

          <br/>

          <label class="col-sm-2 control-label" for="formGroup">Zip code *</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" name="labZipCode"
            #labZipCode="ngModel" [(ngModel)]="laboratory.zipCode"
            maxlength="5" appPositiveNumber required />
          </div>

          <!-- Validation div, only displayed if the ngIf condition is invalid -->
          <div class="has-error" *ngIf="labZipCode.touched && labZipCode.invalid">
            <span *ngIf="labZipCode.errors.required">Please, zip code can not be empty</span>
            <span *ngIf="labZipCode.errors.IsBelowZero && !labZipCode.errors.required">
              Number must be greater than zero
            </span>
          </div>

          <br/>

          <label class="col-sm-2 control-label" for="formGroup">Town *</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" name="labTown"
            #labTown="ngModel" [(ngModel)]="laboratory.town"
            appInputMinLength required />
          </div>

          <div class="has-error" *ngIf="labTown.touched && labTown.invalid">
            <span *ngIf="labTown.errors.required">Please, town can not be empty</span>
            <span *ngIf="labTown.errors.IsNotCorrect && !labTown.errors.required">
              Name must have less tan 50 characters and only accepts letters
            </span>
          </div>

          <br/>

          <label class="col-sm-2 control-label" for="formGroup">Region: </label>
          <div class="col-sm-2">
            <select class="form-control" name="labRegion"
            id="labRegion" #labRegion="ngModel"
            [(ngModel)]="laboratory.region" required>
              <option *ngFor="let region of regions; let i = index"
              [ngValue]="region">
                {{region.getName()}}
              </option>
            </select>
          </div>
        </div>

        <br/>

        <label class="col-sm-2 control-label" for="formGroup">Director *</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="labDirector"
            #labDirector = "ngModel" [(ngModel)]="laboratory.director"
            appInputMinLength required />
        </div>

        <div class="has-error" *ngIf="labDirector.touched && labDirector.invalid">
          <span *ngIf="labDirector.errors.required">Please, director can not be empty</span>
          <span *ngIf="labDirector.errors.IsNotCorrect && !labDirector.errors.required">
            Name must have less tan 50 characters and only accepts letters
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="formGroup"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-success"
          [disabled]="laboratoryForm.invalid"> Submit </button>
        </div>
      </div>
    </div>
  </div>
</form>
