<div class="container well">
  <div style="text-align:center">
    <h1>
      Animal DNA Analysis
    </h1>
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/sequences" routerLinkActive="active">Sequences</a>
      </li>
      <li>
        <a routerLink="/kits" routerLinkActive="active">Kits</a>
      </li>
      <li>
        <a routerLink="/laboratories" routerLinkActive="active">Laboratories</a>
      </li>
      <li>
        <a routerLink="/materials" routerLinkActive="active">Materials</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</div>
