<!--The content below is only a placeholder and can be replaced.-->
<div class="container well">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>

  <nav>
    <ul>
      <!-- redirect to diferents HTML forms -->
      <li>
        <a routerLink="/new-seq" routerLinkActive="active">Seq Form</a>
      </li>
      <li>
        <a routerLink="/new-laboratory" routerLinkActive="active">Laboratory Form</a>
      </li>
      <li>
        <a routerLink="/new-material" routerLinkActive="active">Material Form</a>
      </li>
      <li>
        <a routerLink="/new-seqRecord" routerLinkActive="active">Seq Record Form</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</div>
